<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.unisinos.jeff.crud_carros">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormularioActivity"></activity>
        <activity android:name=".ListaTodos"
            android:label="@string/lista_todos">
        </activity>
        <activity android:name=".ListaPorAno"
            android:label="@string/lista_todosano"></activity>
        <activity android:name=".ListaPorMarca"
            android:label="@string/lista_todosmarca"></activity>
        <activity android:name=".ListaPorModelo"
            android:label="@string/lista_todosmodelo"></activity>
        <activity android:name=".ListaPorPlaca"
            android:label="@string/lista_todosplaca"></activity>
    </application>

</manifest>